* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }

a {
  color: #1e6bb8;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.clickable {
  cursor: pointer;
}

.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957); }

@media screen and (min-width: 64em) {
  .page-header {
    padding: 1rem 6rem 0.5rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem; } }

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem 1rem;
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.project-name a {
  color: white;
  transition: background-color 0.25s, padding 0.25s;
  border-radius: 10px;
}

.project-name a:hover {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.5rem;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem;
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7; }

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem; } }

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem; } }

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem;
  }
}

.main-content img {
  max-width: 100%;
}

.main-content mark,
.main-content a {
  background: #f2f7f9;
  color: #2582c7;
  padding: 0 4px 0;
  border-radius: 5px;
}
.main-content a {
  color: #b33838;
  background: #f9d6dd;
}
.main-content p {
  margin-bottom: 1em; }
/*.main-content code {
  padding: 2px 4px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 0.9rem;
  color: #383e41;
  background-color: #f3f6fa;
  border-radius: 0.3rem; }
.main-content pre {
  padding: 0.8rem;
  margin-top: 0;
  margin-bottom: 1rem;
  font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  word-wrap: normal;
  background-color: #f3f6fa;
  border: solid 1px #dce6f0;
  border-radius: 0.3rem; }*/

.main-content hr {
  height: 2px;
  padding: 0;
  margin: 1rem 0;
  background-color: #eff0f1;
  border: 0;
}

@media screen and (min-width: 64em) {
  .main-content {
    max-width: 64rem;
    padding: 0 6rem 2rem;
    margin: 0 auto;
    font-size: 1.1rem;
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .main-content {
    padding: 2rem 4rem;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 42em) {
  .main-content {
    padding: 2rem 1rem;
    font-size: 1rem;
  }
}

.Switcher {
	display: flex;
}

.Switcher__btn {
	background-color: darkgrey;
	cursor: pointer;
	border: 1px solid;
	padding: 4px 10px;
}

.Switcher__label {
	margin-right: 10px;
}

/*.Switcher__btn:first-child {
	border-radius: 5px 0 0 5px;
}

.Switcher__btn:last-child {
	border-radius: 0 5px 5px 0;
}*/

.Problem {
  border-bottom: solid 1px #eff0f1;
}

.Problem__name {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #159957;
}

.Modal {
  left: 0;
  top: 0;
  position: fixed;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  height: 100%;
  z-index: 100;
display: flex;
}

.Modal__content {
    display: inline-block;
	position: relative;
	background-color: #fefefe;
    border-radius: 15px;
    margin: auto;
	padding: 0;
	border: 1px solid #888;
    height: 90%;
	width: 80%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

.Modal__close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.Modal__close:hover,
.Modal__close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.Modal__header {
    padding: 2px 16px 2px;
    background-color: #ececec;
    color: white;
    border-bottom: 1px solid #c7c7c7;
    border-radius: 15px 15px 0 0;
}

.Modal__header-txt {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-weight: normal;
    color: #9a9a9a;
}

.Modal__body {
	padding: 2px 16px;
    overflow: auto;
}

.Modal__footer {
    height: 18px;
    background-color: #ececec;
    border-radius: 0 0 15px 15px;
    border-top: 1px solid #c7c7c7;
}

@-webkit-keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

@keyframes animatetop {
	from {top: -300px; opacity: 0}
	to {top: 0; opacity: 1}
}

.Filter {
    display: flex;
    background-color: #eff0f1;
    padding: 15px;
    margin-top: 20px;
    border-radius: 10px;
    overflow: hidden;
}

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
    color: black;
    background: none;
    text-shadow: 0 1px white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    text-shadow: none;
    background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    text-shadow: none;
    background: #b3d4fc;
}

@media print {
    code[class*="language-"],
    pre[class*="language-"] {
        text-shadow: none;
    }
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: slategray;
}

.token.punctuation {
    color: #999;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: #a67f59;
    background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: #07a;
}

.token.function {
    color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
    color: #e90;
}

.token.important,
.token.bold {
    font-weight: bold;
}
.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
